.flex-container {
display: flex;
background-color: lightgray;
border: solid 2px black;
height: 100px;
text-align: center;
font-size: 25px;
}

.flex-container > div{
background-color: lightgray;
border: solid 2px black;
height: 120px;
}