header {
    text-align: center;
    background-color: lightgray;
    border: 3px solid black;
    font-size: 25px;
}


.flex-container {
    display: flex;
    flex-direction: row;
    background-color: #F2F0EF;
    justify-content: space-evenly;
    border: 3px solid black;
    font-size: 20px;
    margin-top: 0px;
    border-top-style: none;
    text-decoration: none;
    color:black;
}
.Mainpage {
    text-decoration: none;
       color:black;
}

.Ourproducts{
    text-decoration: none;
       color:black;
}

.container{
    margin-top: 100px;
    text-align: center;
}

.middle {
    justify-self: center;
}

.infoButton{
    height:60px;
    width:230px;
    font-size: 20px;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
     justify-content: center;
}

.grid > div{
     border: 2px solid black;
     padding: 20px;
     background-color:#F2F0EF;

}

.wristband{
    width: 200px;
    height: 250px;
}

.headband{
    width: 200px;
    height: 250px;
}

.shoes{
    width: 200px;
    height: 250px;
}

.jersey{
    width: 200px;
    height: 250px;
}

.socks{
    width: 200px;
    height: 250px;
}

.shorts{
    width: 200px;
    height: 250px;
}


