header {
    text-align: center;
    background-color: lightgray;
    border: 2px solid black;
}


.flex-container {
    display: flex;
    flex-direction: row;
    background-color: lightgray ;
    justify-content: space-evenly;
    border: 2px solid black;
    font-size: 25px;
    margin-top: 0px;
    border-top-style: none;
}